body{

font-family:Times New Roman;
text-align:justify;
 font-size:18px;
 background:white;
    color:blue;
}

 

/* The sidebar menu */
.navt {

    opacity:;
  height:300px;
  width:100%; 
  position:fixed;
  top:0;
border:0px solid green;
  right:0;
left:0;
  padding-top: 0px;



}
.navb{

    opacity:;
  height:300px;
  width:100%; 
  position:;
  top:;
border:0px solid green;
  right:0;
left:0;
  padding-top:;



}
.linknav{
    height:60px;
width:200px;
border:4px solid blue;
border-radius:50px;
}
.dmd1{

border:0px solid #C2C2C2;
border-radius:0px;
color:red;
font-size:45px;

}
.dmd2{

border:0px solid #C2C2C2;
border-radius:0px;
color:red;
font-size:45px;
} 



.navt1 {

    opacity:;
  height:100px;
  width:100%; 
  position:;
  top:0;
border:0px solid red;
  right:;
left:;
  padding-top: 0px;
border-radius:3px;
text-align:center;
}
.navt2 {

    opacity:;
  height:150px;
  width:100%; 
  position:;
  top:;
border:0px solid yellow;
right:0;
left:0;
 padding-top: 100px;
border-radius:3px;
text-align:center;
}






.cont, a:hover {
  color:#FF002E;
}


d{color:white;
opacity:1;
}
y{  color:;
    font-size:15px;
    text-decoration:underline ;
}
z{
    font-size:20px;
}
k{
    font-size:90px;
color: blue;

}
.l{
    font-size:50px;
}

.gradt{background:white;}
.gradb{background:white;}




.item{
       width:100%;
    height:900px;
    background:white;
    border:0px solid green;
    border-radius:30px;
    
    
}
.photo{
       width:900px;
    height:800px; 
    background:white;
    border:3px solid  #C2C2C2;
    border-radius:30px;

    overflow:scroll;
    text-align:center;
float: left;


    
}
.infor{
       width:300px;
    height:600px;

    border:0px solid grey;
    border-radius:30px;
    text-align:center;
float:right;
}
.tagi{
    width:300px;
    height:60px;
    background:white;
    border:3px solid #C2C2C2;
    border-radius:50px;
    color: #C2C2C2;
    
    text-align:center;
    float:left;
font-size:45px;
    
}
    
.tags{
        width:300px;
    height:60px;
    background:white;
    border:3px solid  #C2C2C2;
    border-radius:50px;
    color: #C2C2C2;
    text-align:center;
    float:left;
font-size:45px;

    
}
    
.tagc{
    width:300px;
    height:100px;
    background:white;
    border:0px solid black;
    border-radius:50px;
    color:black;
    opacity:1;
    text-align:center;
    float:left;
font-size:60px;
    
}
    
.bdy{
padding-top:350px;

}
.bdy2{
    width:;
font-size:18px;
color:blue;
border:0px solid blue;
border-radius:50px;
padding:20px;


}
.aud{

    width:3px;
opacity:0;


}
